<%include ../include/header.html%>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-primary btn-sm">增加分类</button>
            <table class="table table-striped">
                <thead class="text-center">
                    <th>分类名称</th>
                    <th>操作</th>
                </thead>
                <tbody>
                    <tr>
                        <td>JavaScript</td>
                        <td><button class="btn btn-danger btn-xs">删除</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%include ../include/footer.html%>