<%include ../include/header.html%>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" class="form-horizontal">
                <div class="form-group row">
                    <label for="title" class="control-label col-md-1">动态名称</label>
                    <div class="col-md-11 input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
                        <input required name="title" type="text" class="form-control" id="title" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="category" class="control-label col-md-1">活动类型</label>
                    <div class="col-md-11 input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                        <select name="category" class="form-control" id="category">
                            <%categories.forEach((item,index)=>{%>
                                <option value="<%=item._id%>"><%=item.name%></option>
                            <%})%>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="content" class="control-label col-md-1">文章内容</label>
                    <div class="col-md-11 input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea rows="15" required name="content" class="form-control" id="content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button class="btn btn-primary">发表</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<%include ../include/footer.html%>